# Enabling this will *completely override* any Gateway listeners configured in
# your config.

[Unit]
Description=IPFS Gateway Socket

[Socket]
Service=ipfs.service
FileDescriptorName=io.ipfs.gateway
BindIPv6Only=true
ListenStream=127.0.0.1:8080
ListenStream=[::1]:8080

[Install]
WantedBy=sockets.target
