<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>io.ipfs.ipfs-daemon</string>
    <key>ProgramArguments</key>
    <array>
      <string>ipfs</string>
      <string>daemon</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/usr/local/var/log/ipfs.err</string>
    <key>StandardOutPath</key>
    <string>/usr/local/var/log/ipfs.log</string>
  </dict>
</plist>

