name: 'ci/gh-experiment: docker-build'

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - 'master'

jobs:
  docker-build:
    if: github.repository == 'ipfs/kubo' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      IMAGE_NAME: ipfs/kubo
      WIP_IMAGE_TAG: wip
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: 1.19.1
      - uses: actions/checkout@v3
      - run: docker build -t $IMAGE_NAME:$WIP_IMAGE_TAG .
